In [1]:
import os
#import request

import pandas as pd

# Pandas Impemintation

In [25]:
%%time
data = pd.read_csv('data\household_power_consumption.txt', sep=";", header=0)
print(f"data {len(data)}")
clean_data = data.dropna()
clean_list = ['Global_reactive_power',"Voltage","Global_active_power","Global_reactive_power","Voltage","Global_intensity","Sub_metering_1","Sub_metering_2","Sub_metering_3"]
clean_data[clean_list] = clean_data[clean_list].astype("float32")
print(f"clean_data {len(clean_data)}")

data 2075259
clean_data 2049280
Wall time: 8.17 s

[Data sourse](https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption)


|               |               |
| ------------- | ------------- |
| **date**          | Date in format dd/mm/yyyy|
| **time**          | time in format hh:mm:ss|
|**global_active_power**| household global minute-averaged active power (in kilowatt)|
|**global_reactive_power**|household global minute-averaged reactive power (in kilowatt)|
|**voltage**|minute-averaged voltage (in volt) |
|**global_intensity**| household global minute-averaged current intensity (in ampere)|
|**sub_metering_1**|energy sub-metering No. 1 (in watt-hour of active energy). It corresponds to the kitchen, containing mainly a dishwasher, an oven and a microwave (hot plates are not electric but gas powered)|
|**sub_metering_2**| energy sub-metering No. 2 (in watt-hour of active energy). It corresponds to the laundry room, containing a washing-machine, a tumble-drier, a refrigerator and a light.|
|**sub_metering_3**|energy sub-metering No. 3 (in watt-hour of active energy). It corresponds to an electric water-heater and an air-conditioner.|

## Task 1

Select all rows where Global_active_power > 5 kW

In [59]:
%%timeit

clean_data[clean_data.Global_active_power>5]

6.01 ms ± 172 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Task 2

Select all rows where Voltage > 235 V

In [60]:
 %%timeit
 clean_data[clean_data.Voltage>235]

209 ms ± 18.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Task 3
Select all where Sub_metering_2 > Sub_metering_3 in range [19,20] of Global_intensity

*Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер. *

In [30]:
%%timeit
pandas_n3=clean_data[(clean_data.Global_intensity>=19)&(clean_data.Global_intensity<=20)]
pandas_n3[pandas_n3.Sub_metering_2>pandas_n3.Sub_metering_3]

14 ms ± 169 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Task 4


Randomly select 500,000 households
(without repetitions of sampling elements), for them to calculate the average values ​​of all 3 groups of electricity consumption

*Обрати випадковим чином 500000 домогосподарств  
(без повторів елементів вибірки),   для них обчислити середні величини усіх 3-х груп споживання електричної енергії*

In [61]:
%%timeit
pandas_n4=clean_data.sample(n = 5*10**5, replace = False) 
pandas_n4.Sub_metering_1.mean()
answer_dict={
    "Sub_metering_1":pandas_n4.Sub_metering_1.mean(),
    "Sub_metering_2":pandas_n4.Sub_metering_2.mean(),
    "Sub_metering_3":pandas_n4.Sub_metering_3.mean()
}
answer_dict

315 ms ± 24.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Task 5 


Select those lines that consume more than 6 in time> = 18-00
kW per minute on average, among the selected identify those
in which the main electricity consumption in the specified period of time falls on the washing machine, dryer, refrigerator and lighting
(group 2 is the largest) and then select every third result from the first half and every fourth result from the second half.
 
*Обрати ті рядки, які по часу >= 18-00 споживають понад 6  
кВт за хвилину в середньому, серед відібраних визначити ті,  
у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення  
(група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.*

In [43]:
pandas_n4[pandas_n4.Time>="18:00:00"]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1696472,8/3/2010,19:56:00,2.068,0.328,242.070007,8.6,0.0,0.0,1.0
898873,31/8/2008,22:37:00,1.544,0.152,241.619995,6.4,0.0,1.0,19.0
645380,8/3/2008,21:44:00,2.130,0.260,239.539993,8.8,0.0,0.0,0.0
787932,15/6/2008,21:36:00,4.846,0.298,236.550003,20.4,0.0,37.0,17.0
1378401,30/7/2009,22:45:00,0.622,0.080,243.960007,2.8,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
24848,2/1/2007,23:32:00,0.530,0.094,244.669998,2.2,0.0,0.0,0.0
724477,2/5/2008,20:01:00,1.588,0.238,241.399994,6.6,0.0,1.0,19.0
34900,9/1/2007,23:04:00,2.772,0.218,243.570007,11.4,0.0,38.0,0.0
1071622,29/12/2008,21:46:00,0.278,0.058,243.130005,1.2,0.0,0.0,0.0
1392795,9/8/2009,22:39:00,2.626,0.266,238.570007,11.0,38.0,0.0,0.0

In [62]:
%%timeit
n5=pandas_n4[(pandas_n4.Time>="18:00:00")&(pandas_n4.Global_active_power>6)]
n5
n5_5 =n5[(n5.Sub_metering_2>n5.Sub_metering_1)&(n5.Sub_metering_2>n5.Sub_metering_3)]
n5_5

67.6 ms ± 6.72 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
n5

In [47]:
%%timeit
n5_5.sort_index(inplace=True)
n5_5

3.77 µs ± 101 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [57]:
%%time
def from_head_to_middle_step_3(df:pd.DataFrame):
    return df.iloc[:int(len(df)/2)+1:3] 

def from_middle_to_tail_step_4(df:pd.DataFrame):
    return df.iloc[int(len(df)/2)+1::4]

Wall time: 0 ns

In [58]:
print(len(n5_5))
print(f"from_head_to_middle_step_3(n5_5): {len(from_head_to_middle_step_3(n5_5))} \n ")
print(f"from_middle_to_tail_step_4(n5_5): {len(from_middle_to_tail_step_4(n5_5))}")

254
from_head_to_middle_step_3(n5_5): 43

from_middle_to_tail_step_4(n5_5): 32

In [56]:
43*3

129

In [55]:
32*4

128

In [17]:
%%time
from_head_to_middle_step_3(n5_5)

Wall time: 0 ns

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1088789,10/1/2009,19:53:00,6.720,0.154,233.979996,28.600000,0.0,72.0,17.0
992409,4/11/2008,21:33:00,6.880,0.242,235.339996,29.200001,0.0,72.0,17.0
707256,20/4/2008,21:00:00,8.268,0.312,232.300003,35.599998,1.0,72.0,17.0
275285,25/6/2007,21:29:00,6.120,0.086,233.479996,26.200001,0.0,72.0,17.0
98142,22/2/2007,21:06:00,9.116,0.000,226.460007,40.200001,34.0,67.0,16.0
1598524,30/12/2009,19:28:00,6.092,0.462,236.309998,25.799999,0.0,73.0,0.0
1018346,22/11/2008,21:50:00,7.256,0.056,229.570007,31.600000,35.0,36.0,16.0
813854,3/7/2008,21:38:00,6.330,0.000,234.300003,27.000000,1.0,71.0,18.0
992255,4/11/2008,18:59:00,6.876,0.180,228.750000,30.000000,0.0,70.0,0.0
1228519,17/4/2009,20:43:00,7.074,0.204,236.550003,29.799999,0.0,73.0,17.0
1029768,30/11/2008,20:12:00,7.852,0.000,233.070007,33.599998,1.0,71.0,16.0
476834,12/11/2007,20:38:00,7.770,0.368,233.429993,33.200001,0.0,73.0,16.0
514234,8/12/2007,19:58:00,6.022,0.294,233.850006,25.799999,0.0,35.0,17.0
2066470,20/11/2010,18:34:00,6.266,0.360,229.820007,27.600000,14.0,35.0,16.0
151361,31/3/2007,20:05:00,6.210,0.526,235.800003,26.400000,0.0,37.0,17.0
535783,23/12/2007,19:07:00,6.952,0.262,231.009995,30.000000,0.0,70.0,0.0
1019570,23/11/2008,18:14:00,7.622,0.458,229.619995,33.200001,0.0,35.0,16.0
476833,12/11/2007,20:37:00,7.716,0.376,232.259995,33.200001,0.0,72.0,17.0
1019702,23/11/2008,20:26:00,7.174,0.184,232.210007,30.799999,1.0,36.0,17.0
18958,29/12/2006,21:22:00,6.214,0.120,230.529999,26.799999,0.0,70.0,0.0
1019713,23/11/2008,20:37:00,6.392,0.162,234.889999,27.200001,2.0,37.0,17.0
1633028,23/1/2010,18:32:00,6.694,0.566,233.149994,28.799999,0.0,39.0,27.0
534447,22/12/2007,20:51:00,6.456,0.424,233.160004,27.600000,1.0,35.0,0.0
1775627,2/5/2010,19:11:00,7.044,0.048,232.929993,30.400000,26.0,72.0,13.0
515629,9/12/2007,19:13:00,6.250,0.272,229.660004,27.200001,0.0,34.0,16.0
1019577,23/11/2008,18:21:00,6.432,0.168,231.559998,27.799999,0.0,33.0,16.0
514276,8/12/2007,20:40:00,6.222,0.324,233.619995,26.600000,0.0,36.0,17.0
96622,21/2/2007,19:46:00,6.694,0.292,232.039993,28.799999,0.0,35.0,0.0
243637,3/6/2007,22:01:00,6.226,0.188,228.460007,27.200001,0.0,70.0,0.0
18961,29/12/2006,21:25:00,6.086,0.000,229.039993,26.600000,0.0,69.0,0.0
542918,28/12/2007,18:02:00,6.408,0.238,236.300003,27.200001,0.0,59.0,17.0
98146,22/2/2007,21:10:00,9.244,0.000,224.240005,41.200001,34.0,66.0,16.0
640871,5/3/2008,18:35:00,6.512,0.272,233.919998,27.799999,0.0,72.0,0.0
1088786,10/1/2009,19:50:00,6.312,0.172,234.669998,27.000000,1.0,64.0,17.0
1150721,22/2/2009,20:05:00,6.820,0.096,235.869995,28.799999,0.0,72.0,17.0
641055,5/3/2008,21:39:00,7.302,0.062,233.130005,31.600000,21.0,35.0,16.0
1533686,15/11/2009,18:50:00,6.434,0.378,232.119995,28.000000,0.0,61.0,17.0
542932,28/12/2007,18:16:00,6.914,0.210,237.389999,29.000000,0.0,73.0,17.0
476827,12/11/2007,20:31:00,8.026,0.384,231.960007,34.599998,0.0,72.0,17.0
53461,22/1/2007,20:25:00,7.608,0.194,231.979996,32.799999,0.0,69.0,17.0
19030,29/12/2006,22:34:00,6.238,0.268,235.119995,26.400000,0.0,73.0,17.0
135619,20/3/2007,21:43:00,6.176,0.364,231.839996,26.600000,1.0,36.0,16.0
17494,28/12/2006,20:58:00,6.386,0.374,236.630005,27.000000,1.0,36.0,17.0
95227,20/2/2007,20:31:00,7.204,0.090,231.779999,31.000000,0.0,71.0,16.0

In [18]:
%%time
from_middle_to_tail_step_4(n5_5)

Wall time: 0 ns

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
433596,13/10/2007,20:00:00,6.502,0.266,231.850006,28.000000,0.0,35.0,16.0
1152282,23/2/2009,22:06:00,7.120,0.214,233.279999,30.400000,2.0,70.0,17.0
483912,17/11/2007,18:36:00,6.064,0.446,231.190002,26.200001,0.0,35.0,16.0
70675,3/2/2007,19:19:00,6.408,0.704,231.889999,27.799999,9.0,36.0,17.0
31719,7/1/2007,18:03:00,6.458,0.000,230.850006,27.799999,0.0,69.0,16.0
51960,21/1/2007,19:24:00,7.480,0.180,225.520004,33.200001,0.0,67.0,15.0
95258,20/2/2007,21:02:00,6.504,0.168,231.600006,28.200001,33.0,34.0,16.0
515634,9/12/2007,19:18:00,6.282,0.292,230.199997,27.200001,0.0,34.0,16.0
514269,8/12/2007,20:33:00,6.192,0.478,233.270004,26.600000,0.0,36.0,17.0
727288,4/5/2008,18:52:00,6.208,0.460,237.360001,26.400000,32.0,38.0,18.0
135613,20/3/2007,21:37:00,6.054,0.240,233.910004,25.799999,2.0,35.0,17.0
1621651,15/1/2010,20:55:00,7.860,0.446,235.610001,33.599998,9.0,74.0,18.0
135612,20/3/2007,21:36:00,6.086,0.262,234.449997,26.000000,1.0,36.0,17.0
1019700,23/11/2008,20:24:00,7.000,0.184,232.690002,30.200001,1.0,30.0,17.0
1621681,15/1/2010,21:25:00,6.126,0.258,236.490005,26.000000,1.0,37.0,18.0
1088795,10/1/2009,19:59:00,8.764,0.060,232.350006,37.599998,36.0,71.0,17.0
51957,21/1/2007,19:21:00,6.320,0.228,226.029999,28.200001,16.0,34.0,16.0
1204035,31/3/2009,20:39:00,6.506,0.000,234.279999,27.600000,0.0,71.0,16.0
1183859,17/3/2009,20:23:00,7.058,0.116,237.270004,30.000000,0.0,64.0,18.0
959170,12/10/2008,19:34:00,6.202,0.380,232.949997,26.799999,0.0,46.0,17.0
992361,4/11/2008,20:45:00,7.720,0.452,232.639999,33.200001,0.0,72.0,17.0
1183861,17/3/2009,20:25:00,7.880,0.000,236.800003,33.200001,0.0,72.0,17.0
641053,5/3/2008,21:37:00,6.558,0.074,233.639999,28.000000,1.0,35.0,17.0
666902,23/3/2008,20:26:00,7.090,0.194,233.250000,30.400000,0.0,72.0,17.0
1097423,16/1/2009,19:47:00,7.242,0.398,238.800003,30.600000,23.0,36.0,18.0
508560,4/12/2007,21:24:00,6.330,0.436,237.369995,26.799999,0.0,36.0,18.0
515624,9/12/2007,19:08:00,6.202,0.178,230.899994,26.799999,0.0,34.0,17.0
152911,1/4/2007,21:55:00,7.752,0.292,233.369995,33.200001,0.0,70.0,17.0
291115,6/7/2007,21:19:00,6.750,0.350,235.360001,28.799999,2.0,72.0,17.0
34765,9/1/2007,20:49:00,6.112,0.116,233.809998,26.200001,0.0,36.0,18.0
1546689,24/11/2009,19:33:00,8.392,0.216,232.899994,36.200001,10.0,70.0,17.0
1723759,27/3/2010,18:43:00,6.886,0.216,232.279999,29.600000,0.0,71.0,26.0
1775630,2/5/2010,19:14:00,6.392,0.000,233.990005,27.400000,26.0,72.0,1.0

In [19]:
n5_5.iloc[975:]

Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []