In [1]:
import os
#import request

import pandas as pd

In [2]:
time_dict={"experiment":["pandas","nummpy"]}

In [3]:
%%time
data = pd.read_csv('data\household_power_consumption.txt', sep=";", header=0)
clean_data = data.dropna()
clean_data[['Global_reactive_power',"Voltage","Global_active_power","Global_reactive_power","Voltage","Global_intensity","Sub_metering_1","Sub_metering_2","Sub_metering_3"]] = clean_data[['Global_reactive_power',"Voltage","Global_active_power","Global_reactive_power","Voltage","Global_intensity","Sub_metering_1","Sub_metering_2","Sub_metering_3"]].astype("float32")

Wall time: 7.78 s

[Data sourse](https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption)


|               |               |
| ------------- | ------------- |
| **date**          | Date in format dd/mm/yyyy|
| **time**          | time in format hh:mm:ss|
|**global_active_power**| household global minute-averaged active power (in kilowatt)|
|**global_reactive_power**|household global minute-averaged reactive power (in kilowatt)|
|**voltage**|minute-averaged voltage (in volt) |
|**global_intensity**| household global minute-averaged current intensity (in ampere)|
|**sub_metering_1**|energy sub-metering No. 1 (in watt-hour of active energy). It corresponds to the kitchen, containing mainly a dishwasher, an oven and a microwave (hot plates are not electric but gas powered)|
|**sub_metering_2**| energy sub-metering No. 2 (in watt-hour of active energy). It corresponds to the laundry room, containing a washing-machine, a tumble-drier, a refrigerator and a light.|
|**sub_metering_3**|energy sub-metering No. 3 (in watt-hour of active energy). It corresponds to an electric water-heater and an air-conditioner.|

## Task 1

Select all rows where Global_active_power > 5 kW

In [4]:
%%time


clean_data[clean_data.Global_active_power>=5]

Wall time: 98.7 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.630005,23.000000,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.289993,23.000000,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740005,23.000000,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.779999,23.200001,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.990005,22.400000,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,0.150,231.500000,23.600000,48.0,0.0,0.0
2069357,22/11/2010,18:41:00,5.528,0.144,232.479996,24.600000,53.0,0.0,0.0
2071586,24/11/2010,07:50:00,5.172,0.050,235.179993,22.000000,0.0,38.0,17.0
2071587,24/11/2010,07:51:00,5.750,0.000,234.399994,24.600000,0.0,39.0,17.0
2072997,25/11/2010,07:21:00,5.074,0.240,238.550003,21.400000,1.0,2.0,18.0

## Task 2

Select all rows where Voltage > 235 V

In [5]:
 %%time
 clean_data[clean_data.Voltage>235]

Wall time: 150 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.679993,15.8,0.0,1.0,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020004,15.0,0.0,2.0,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.089996,15.8,0.0,1.0,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220001,15.8,0.0,1.0,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.240005,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.429993,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.000000,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.820007,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.699997,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.550003,3.8,0.0,0.0,0.0

## Task 3
Select all where Sub_metering_2 > Sub_metering_3 in range [19,20] of Global_intensity

*Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер. *

In [6]:
%%time
pandas_n3=clean_data[(clean_data.Global_intensity>=19)&(clean_data.Global_intensity<=20)]
pandas_n3[pandas_n3.Sub_metering_2>pandas_n3.Sub_metering_3]

Wall time: 17 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,18:09:00,4.464,0.136,234.660004,19.000000,0.0,37.0,16.0
460,17/12/2006,01:04:00,4.582,0.258,238.080002,19.600000,0.0,13.0,0.0
464,17/12/2006,01:08:00,4.618,0.104,239.610001,19.600000,0.0,27.0,0.0
475,17/12/2006,01:19:00,4.636,0.140,237.369995,19.400000,0.0,36.0,0.0
476,17/12/2006,01:20:00,4.634,0.152,237.169998,19.400000,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,24/11/2010,07:53:00,4.666,0.000,235.720001,19.799999,0.0,39.0,17.0
2071590,24/11/2010,07:54:00,4.694,0.000,236.779999,19.799999,0.0,39.0,18.0
2071591,24/11/2010,07:55:00,4.602,0.000,237.080002,19.400000,0.0,40.0,17.0
2071592,24/11/2010,07:56:00,4.536,0.000,237.029999,19.000000,0.0,39.0,17.0
2071593,24/11/2010,07:57:00,4.626,0.000,236.779999,19.400000,0.0,39.0,17.0

## Task 4


Randomly select 500,000 households
(without repetitions of sampling elements), for them to calculate the average values ​​of all 3 groups of electricity consumption

*Обрати випадковим чином 500000 домогосподарств  
(без повторів елементів вибірки),   для них обчислити середні величини усіх 3-х груп споживання електричної енергії*

In [7]:
%%time
pandas_n4=clean_data.sample(n = 50000, replace = False) 
pandas_n4.Sub_metering_1.mean()
answer_dict={
    "Sub_metering_1":pandas_n4.Sub_metering_1.mean(),
    "Sub_metering_2":pandas_n4.Sub_metering_2.mean(),
    "Sub_metering_3":pandas_n4.Sub_metering_3.mean()
}
answer_dict

Wall time: 113 ms

{'Sub_metering_1': 1.11512,
 'Sub_metering_2': 1.28984,
 'Sub_metering_3': 6.42966}

## Task 5 


Select those lines that consume more than 6 in time> = 18-00
kW per minute on average, among the selected identify those
in which the main electricity consumption in the specified period of time falls on the washing machine, dryer, refrigerator and lighting
(group 2 is the largest) and then select every third result from the first half and every fourth result from the second half.
 
*Обрати ті рядки, які по часу >= 18-00 споживають понад 6  
кВт за хвилину в середньому, серед відібраних визначити ті,  
у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення  
(група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.*

In [8]:
%%time
n5=pandas_n4[(pandas_n4.Time>="18:00:00")&(pandas_n4.Global_active_power>6)]
n5_5 =n5[(n5.Sub_metering_2>n5.Sub_metering_1)&(n5.Sub_metering_2>n5.Sub_metering_3)]
n5_5

Wall time: 11 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1643118,30/1/2010,18:42:00,6.814,0.378,235.080002,29.000000,36.0,38.0,18.0
959213,12/10/2008,20:17:00,7.654,0.192,229.869995,33.200001,0.0,70.0,17.0
34775,9/1/2007,20:59:00,8.104,0.180,233.160004,34.799999,0.0,71.0,17.0
2066454,20/11/2010,18:18:00,7.158,0.080,229.729996,31.000000,0.0,68.0,16.0
1204030,31/3/2009,20:34:00,6.682,0.148,232.770004,28.600000,0.0,70.0,17.0
992415,4/11/2008,21:39:00,6.316,0.194,235.940002,26.600000,0.0,73.0,17.0
31732,7/1/2007,18:16:00,7.770,0.556,230.789993,33.599998,0.0,37.0,16.0
641089,5/3/2008,22:13:00,6.204,0.232,234.289993,26.400000,1.0,37.0,17.0
2020358,19/10/2010,18:02:00,6.338,0.246,234.089996,27.200001,0.0,69.0,17.0
777863,8/6/2008,21:47:00,6.956,0.150,235.320007,29.400000,0.0,73.0,17.0
31724,7/1/2007,18:08:00,6.740,0.000,230.779999,29.200001,0.0,70.0,16.0
1723760,27/3/2010,18:44:00,6.896,0.230,231.869995,29.600000,0.0,70.0,27.0
777858,8/6/2008,21:42:00,6.474,0.136,235.899994,27.600000,0.0,64.0,18.0
541716,27/12/2007,22:00:00,6.972,0.000,231.350006,30.200001,31.0,34.0,17.0
50519,20/1/2007,19:23:00,7.602,0.374,228.070007,33.400002,0.0,21.0,16.0
135629,20/3/2007,21:53:00,6.550,0.232,233.949997,28.000000,1.0,37.0,17.0
992408,4/11/2008,21:32:00,6.844,0.252,234.220001,29.200001,0.0,72.0,17.0
2066488,20/11/2010,18:52:00,6.364,0.126,229.380005,28.200001,17.0,34.0,16.0
1152282,23/2/2009,22:06:00,7.120,0.214,233.279999,30.400000,2.0,70.0,17.0
19023,29/12/2006,22:27:00,6.976,0.376,235.119995,29.600000,0.0,74.0,17.0
1533682,15/11/2009,18:46:00,6.926,0.370,230.639999,30.000000,0.0,69.0,17.0
2066467,20/11/2010,18:31:00,6.830,0.394,229.389999,30.200001,24.0,34.0,16.0
1204034,31/3/2009,20:38:00,6.444,0.000,233.250000,27.600000,0.0,71.0,17.0
1150730,22/2/2009,20:14:00,6.524,0.182,236.369995,27.600000,0.0,73.0,17.0
832540,16/7/2008,21:04:00,6.382,0.324,235.419998,27.000000,0.0,73.0,18.0
515628,9/12/2007,19:12:00,6.166,0.172,229.850006,26.799999,0.0,34.0,17.0
535832,23/12/2007,19:56:00,6.124,0.382,234.270004,26.200001,0.0,38.0,17.0
1183860,17/3/2009,20:24:00,7.864,0.000,237.029999,33.200001,0.0,72.0,17.0
152725,1/4/2007,18:49:00,6.380,0.272,232.710007,27.400000,0.0,72.0,17.0
1398396,13/8/2009,20:00:00,6.706,0.296,235.809998,29.000000,32.0,37.0,18.0
1643213,30/1/2010,20:17:00,6.914,0.572,234.740005,29.600000,0.0,36.0,18.0

In [9]:
n5_5.sort_index(inplace=True)
n5_5

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
19023,29/12/2006,22:27:00,6.976,0.376,235.119995,29.600000,0.0,74.0,17.0
31724,7/1/2007,18:08:00,6.740,0.000,230.779999,29.200001,0.0,70.0,16.0
31732,7/1/2007,18:16:00,7.770,0.556,230.789993,33.599998,0.0,37.0,16.0
34775,9/1/2007,20:59:00,8.104,0.180,233.160004,34.799999,0.0,71.0,17.0
50519,20/1/2007,19:23:00,7.602,0.374,228.070007,33.400002,0.0,21.0,16.0
135629,20/3/2007,21:53:00,6.550,0.232,233.949997,28.000000,1.0,37.0,17.0
152725,1/4/2007,18:49:00,6.380,0.272,232.710007,27.400000,0.0,72.0,17.0
515628,9/12/2007,19:12:00,6.166,0.172,229.850006,26.799999,0.0,34.0,17.0
535832,23/12/2007,19:56:00,6.124,0.382,234.270004,26.200001,0.0,38.0,17.0
541716,27/12/2007,22:00:00,6.972,0.000,231.350006,30.200001,31.0,34.0,17.0
641089,5/3/2008,22:13:00,6.204,0.232,234.289993,26.400000,1.0,37.0,17.0
777858,8/6/2008,21:42:00,6.474,0.136,235.899994,27.600000,0.0,64.0,18.0
777863,8/6/2008,21:47:00,6.956,0.150,235.320007,29.400000,0.0,73.0,17.0
832540,16/7/2008,21:04:00,6.382,0.324,235.419998,27.000000,0.0,73.0,18.0
959213,12/10/2008,20:17:00,7.654,0.192,229.869995,33.200001,0.0,70.0,17.0
992408,4/11/2008,21:32:00,6.844,0.252,234.220001,29.200001,0.0,72.0,17.0
992415,4/11/2008,21:39:00,6.316,0.194,235.940002,26.600000,0.0,73.0,17.0
1150730,22/2/2009,20:14:00,6.524,0.182,236.369995,27.600000,0.0,73.0,17.0
1152282,23/2/2009,22:06:00,7.120,0.214,233.279999,30.400000,2.0,70.0,17.0
1183860,17/3/2009,20:24:00,7.864,0.000,237.029999,33.200001,0.0,72.0,17.0
1204030,31/3/2009,20:34:00,6.682,0.148,232.770004,28.600000,0.0,70.0,17.0
1204034,31/3/2009,20:38:00,6.444,0.000,233.250000,27.600000,0.0,71.0,17.0
1398396,13/8/2009,20:00:00,6.706,0.296,235.809998,29.000000,32.0,37.0,18.0
1533682,15/11/2009,18:46:00,6.926,0.370,230.639999,30.000000,0.0,69.0,17.0
1643118,30/1/2010,18:42:00,6.814,0.378,235.080002,29.000000,36.0,38.0,18.0
1643213,30/1/2010,20:17:00,6.914,0.572,234.740005,29.600000,0.0,36.0,18.0
1723760,27/3/2010,18:44:00,6.896,0.230,231.869995,29.600000,0.0,70.0,27.0
2020358,19/10/2010,18:02:00,6.338,0.246,234.089996,27.200001,0.0,69.0,17.0
2066454,20/11/2010,18:18:00,7.158,0.080,229.729996,31.000000,0.0,68.0,16.0
2066467,20/11/2010,18:31:00,6.830,0.394,229.389999,30.200001,24.0,34.0,16.0
2066488,20/11/2010,18:52:00,6.364,0.126,229.380005,28.200001,17.0,34.0,16.0

In [14]:
%%time
def from_head_to_middle_step_3(df:pd.DataFrame):
    return df.iloc[:int(len(df)/2):3] 

def from_middle_to_tail_step_4(df:pd.DataFrame):
    return df.iloc[int(len(df)/2)::4]

Wall time: 0 ns

In [11]:
%%time
from_head_to_middle_step_3(n5_5)

Wall time: 1.01 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
19023,29/12/2006,22:27:00,6.976,0.376,235.119995,29.600000,0.0,74.0,17.0
34775,9/1/2007,20:59:00,8.104,0.180,233.160004,34.799999,0.0,71.0,17.0
152725,1/4/2007,18:49:00,6.380,0.272,232.710007,27.400000,0.0,72.0,17.0
541716,27/12/2007,22:00:00,6.972,0.000,231.350006,30.200001,31.0,34.0,17.0
777863,8/6/2008,21:47:00,6.956,0.150,235.320007,29.400000,0.0,73.0,17.0

In [15]:
%%time
from_middle_to_tail_step_4(n5_5)

Wall time: 1 ms

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
992408,4/11/2008,21:32:00,6.844,0.252,234.220001,29.200001,0.0,72.0,17.0
1183860,17/3/2009,20:24:00,7.864,0.000,237.029999,33.200001,0.0,72.0,17.0
1533682,15/11/2009,18:46:00,6.926,0.370,230.639999,30.000000,0.0,69.0,17.0
2020358,19/10/2010,18:02:00,6.338,0.246,234.089996,27.200001,0.0,69.0,17.0

In [16]:
n5_5.iloc[975:]

Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []