In [2]:
import os
#import request

import numpy
import pandas as pd

In [3]:
"""date: дата виміру у форматі dd/mm/yyyy \n
 time: час у форматі hh:mm:ss
 global_active_power: активна потужність, яку споживає
домогосподарство за хвилину (усереднено) [кВт]
 global_reactive_power: реактивна потужність, яку споживає
домогосподарство за хвилину (усереднено) [кВт]
 voltage: напруга, усереднена за хвилину спостереження [В]
 global_intensity: усереднена силу струму для домогосподарства [A]
 sub_metering_1: набір споживачів енергії No1 [Вт-годин активної
енергії], відповідає кухні, на якій є машина для миття посуду на
мікрохвильовка (електричної плити немає, використовується газова).
 sub_metering_2: набір споживачів енергії No2 [Вт-годин активної
енергії], відповіє пральні, в якій працює пральна машина, сушарка,
холодильних та ввімкнено світло.
 sub_metering_3: набір споживачів енергії No3 [Вт-годин активної
енергії], відповідає бойлеру та кондиціонеру"""

'date: дата виміру у форматі dd/mm/yyyy \n\n\uf06e time: час у форматі hh:mm:ss\n\uf06e global_active_power: активна потужність, яку споживає\nдомогосподарство за хвилину (усереднено) [кВт]\n\uf06e global_reactive_power: реактивна потужність, яку споживає\nдомогосподарство за хвилину (усереднено) [кВт]\n\uf06e voltage: напруга, усереднена за хвилину спостереження [В]\n\uf06e global_intensity: усереднена силу струму для домогосподарства [A]\n\uf06e sub_metering_1: набір споживачів енергії No1 [Вт-годин активної\nенергії], відповідає кухні, на якій є машина для миття посуду на\nмікрохвильовка (електричної плити немає, використовується газова).\n\uf06e sub_metering_2: набір споживачів енергії No2 [Вт-годин активної\nенергії], відповіє пральні, в якій працює пральна машина, сушарка,\nхолодильних та ввімкнено світло.\n\uf06e sub_metering_3: набір споживачів енергії No3 [Вт-годин активної\nенергії], відповідає бойлеру та кондиціонеру'

In [4]:
data = pd.read_csv('data\household_power_consumption.txt', sep=";", header=0)
#data.columns = ["a", "b", "c", "etc."]
print(data.head())

Date      Time Global_active_power Global_reactive_power  Voltage  \
0  16/12/2006  17:24:00               4.216                 0.418  234.840
1  16/12/2006  17:25:00               5.360                 0.436  233.630
2  16/12/2006  17:26:00               5.374                 0.498  233.290
3  16/12/2006  17:27:00               5.388                 0.502  233.740
4  16/12/2006  17:28:00               3.666                 0.528  235.680

  Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
0           18.400          0.000          1.000            17.0
1           23.000          0.000          1.000            16.0
2           23.000          0.000          2.000            17.0
3           23.000          0.000          1.000            17.0
4           15.800          0.000          1.000            17.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [6]:
data.Date

0          16/12/2006
1          16/12/2006
2          16/12/2006
3          16/12/2006
4          16/12/2006
              ...
2075254    26/11/2010
2075255    26/11/2010
2075256    26/11/2010
2075257    26/11/2010
2075258    26/11/2010
Name: Date, Length: 2075259, dtype: object

In [7]:
data.Date.tail()

2075254    26/11/2010
2075255    26/11/2010
2075256    26/11/2010
2075257    26/11/2010
2075258    26/11/2010
Name: Date, dtype: object

In [8]:
type(data.Date)

pandas.core.series.Series

In [9]:
#Обрати всі домогосподарства, у яких загальна активна споживана
#потужність перевищує 5 кВт.
print(data[data.Global_active_power.astype("float32")>=5])

ValueError: could not convert string to float: '?'

In [10]:
data.find("?")

AttributeError: 'DataFrame' object has no attribute 'find'

In [11]:
print(data[data.Global_active_power=="?"])

Date      Time Global_active_power Global_reactive_power  \
6839     21/12/2006  11:23:00                   ?                     ?
6840     21/12/2006  11:24:00                   ?                     ?
19724    30/12/2006  10:08:00                   ?                     ?
19725    30/12/2006  10:09:00                   ?                     ?
41832     14/1/2007  18:36:00                   ?                     ?
...             ...       ...                 ...                   ...
1990185   28/9/2010  19:09:00                   ?                     ?
1990186   28/9/2010  19:10:00                   ?                     ?
1990187   28/9/2010  19:11:00                   ?                     ?
1990188   28/9/2010  19:12:00                   ?                     ?
2027411  24/10/2010  15:35:00                   ?                     ?

        Voltage Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
6839          ?                ?              ?              ?             NaN
6840          ?                ?              ?              ?             NaN
19724         ?                ?              ?              ?             NaN
19725         ?                ?              ?              ?             NaN
41832         ?                ?              ?              ?             NaN
...         ...              ...            ...            ...             ...
1990185       ?                ?              ?              ?             NaN
1990186       ?                ?              ?              ?             NaN
1990187       ?                ?              ?              ?             NaN
1990188       ?                ?              ?              ?             NaN
2027411       ?                ?              ?              ?             NaN

[25979 rows x 9 columns]

In [12]:
clean_data = data.dropna()

In [13]:
clean_data[clean_data.Global_active_power.astype("float32")>=5]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.780,23.200,0.000,1.000,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.990,22.400,0.000,1.000,16.0
...,...,...,...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,0.15,231.5,23.6,48,0,0.0
2069357,22/11/2010,18:41:00,5.528,0.144,232.48,24.6,53,0,0.0
2071586,24/11/2010,07:50:00,5.172,0.05,235.18,22,0,38,17.0
2071587,24/11/2010,07:51:00,5.75,0,234.4,24.6,0,39,17.0
2072997,25/11/2010,07:21:00,5.074,0.24,238.55,21.4,1,2,18.0

In [15]:
clean_data[['Global_reactive_power',"Voltage"]] = clean_data[['Global_reactive_power',"Voltage"]].astype("float32")

In [20]:
clean_data[1:2].Date

1    16/12/2006
Name: Date, dtype: object

In [23]:
a =clean_data[1:2].Date

In [24]:
a

1    16/12/2006
Name: Date, dtype: object

In [37]:
a.iloc[0]
type(a.iloc[0])

str

In [ ]:
date: дата виміру у форматі dd/mm/yyyy \n
 time: час у форматі hh:mm:ss
 global_active_power: активна потужність, яку споживає
домогосподарство за хвилину (усереднено) [кВт]
 global_reactive_power: реактивна потужність, яку споживає
домогосподарство за хвилину (усереднено) [кВт]
 voltage: напруга, усереднена за хвилину спостереження [В]
 global_intensity: усереднена силу струму для домогосподарства [A]
 sub_metering_1: набір споживачів енергії No1 [Вт-годин активної
енергії], відповідає кухні, на якій є машина для миття посуду на
мікрохвильовка (електричної плити немає, використовується газова).
 sub_metering_2: набір споживачів енергії No2 [Вт-годин активної
енергії], відповіє пральні, в якій працює пральна машина, сушарка,
холодильних та ввімкнено світло.
 sub_metering_3: набір споживачів енергії No3 [Вт-годин активної
енергії], відповідає бойлеру та кондиціонеру"""